# Dependencies
node_modules/
.pnp
.pnp.js

# Turborepo
.turbo/

# Next.js
.next/
out/

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/

# Native
*.hprof

# Drizzle
packages/db/drizzle/
packages/db/migrations/meta/

# Environment
.env
.env.local
.env.*.local
.vercel

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
playwright-report/
test-results/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
